---
const { isDark = false } = Astro.props;

const textColor = isDark ? 'text-theme-blue-dark bg-theme-blue-light' : 'text-theme-blue-bg bg-theme-blue-dark';
const iconColor = isDark ? 'text-theme-blue-light' : 'text-theme-blue-dark';
---

<div class="flex gap-4 mt-4 z-10">
  <a
    class={`theme-btn ${textColor} w-9 h-6`}
    href="../content/cv.pdf"
    target="_blank"
  >
    CV
  </a>

  <a
    class="hover:scale-110 transition-transform size-8"
    href="https://scholar.google.com/citations?user=otkGmaAAAAAJ"
    target="_blank"
  >
    <svg class=`${iconColor} w-full h-full` >
      <use xlink:href="../src/assets/sprite.svg#gscholar"></use>
    </svg>
  </a>

  <a
    class="hover:scale-110 transition-transform size-8"
    href="https://github.com/dvdmc"
    target="_blank"
    aria-label="GitHub"
    title="Go to David's GitHub profile"
  >
    <svg class=`${iconColor} w-full h-full`>
      <use xlink:href="../src/assets/sprite.svg#github"></use>
    </svg>
  </a>

  <a
    class="hover:scale-110 transition-transform size-8"
    href="https://www.linkedin.com/in/david-morilla-cabello-359bb8164/"
    target="_blank"
  >
    <svg class=`${iconColor} w-full h-full`>
      <use xlink:href="../src/assets/sprite.svg#linkedin"></use>
    </svg>
  </a>

  <a
    class="hover:scale-110 transition-transform size-8"
    href="https://www.instagram.com/davidmorillacabello/"
    target="_blank"
  >
    <svg class=`${iconColor} w-full h-full`>
      <use xlink:href="../src/assets/sprite.svg#instagram"></use>
    </svg>
  </a>
</div>
